*.pyc
__pycache__/
db.sqlite3
/media/
*.log
.env
*.pot
*.py[cod]
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.sqlite3
.DS_Store
