{% extends "admin/login.html" %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/custom_admin.css' %}">
{% endblock %}

{% block content %}
    <div class="login-page">
        <div class="login-box">
            <h2>Iniciar Sesión</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn-primary" type="submit">Iniciar Sesión</button>
            </form>
        </div>
    </div>
{% endblock %}
